# Engines External Modules Path(s)
engines_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/engines

# Fileserver External Modules Path(s)
fileserver_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/fileserver

# Pillar External Modules Path(s)
pillar_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/pillar

# Returner External Modules Path(s)
returner_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/returners

# Roster External Modules Path(s)
roster_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/roster

# Runner External Modules Path(s)
runner_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/runners

# Module External Modules Path(s)
module_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/modules

# Proxy External Modules Path(s)
proxy_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/proxy

# State External Modules Path(s)
states_dirs:
- {{ eapi_egg_path }}{{ eapi_egg }}/sseape/states

